*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    filter: saturate(1.05);

}
*::selection
{
    color: #456789;
    background: #eff;
    text-shadow: none;
}

#control.saving
{

    animation: saving forwards ease 3s;
}
@keyframes saving
{
    0%
    {
        filter: brightness(100%) grayscale(0%);
    }
    50%
    {
        filter: brightness(130%) grayscale(75%);
    }
    100%
    {
        filter: brightness(100%) grayscale(0%);
    }
}

#control 
{
    z-index: 0;
    position: absolute;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    min-width: 0vw;
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content; 
    background: url("../../Files/images/web2.jpeg") no-repeat center center fixed;
    background-size: cover;
    
}

section
{   
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; 
    overflow: hidden;
}


/* -----------Section 1----------------- */
.section1 header
{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 20px 0;
    background: #fff;
    width: 100%;
    min-width: 100%;
    min-height: 13vh;
    max-height: 13vh;

}
.logo
{
    max-width: 350px;
    margin: 20px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section1 header .logo img
{
    width: 75%;
    margin: 0 auto;
}
.section1 main
{
    background: url("../../Files/images/web3.jpeg") no-repeat center center;
    /* background: url("../../Files/images/web1.jpeg") no-repeat center center; */
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    min-height: 87vh;
    max-height: fit-content;
    filter: opacity(1);
}
.section1 main .contenidoTitulo
{
    position: absolute;
    top: 0vh;
    left: 4vw;
    width: 500px;
    color: #fff;
    text-align: center;
    line-height: 1.1em;
    text-shadow: #000 1px 1px 10px;
    font-size: 40px;
    animation: amortiguar ease forwards 2s 7s;
}
.section1 main .contenidoTitulo #titulo
{
    animation: aparecer ease forwards 2s 7s;
    opacity: 0;

}

.section1 main .marcoFormulario
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
    min-width: 400px;
    min-height: fit-content;
    max-height: fit-content;    
    margin: auto 8vw auto auto;
    overflow: hidden;
    background: #0005;
    border: 2px #0001 solid;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 14px;
    border-radius: 5px;
    transition: 3s;
}
.section1 main .marcoFormulario:hover
{
    background: #000a;
    border: 2px #0009 solid;
    color: #eee;
    text-shadow: #888 1px 1px 5px;
    transition: .2s;

}
.section1 main .marcoFormulario form
{
    margin: 20px auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;

}

.section1 main .marcoFormulario div
{
    width: 100%;
    flex-grow: 1;
}

.section1 main .marcoFormulario p
{
    text-shadow:    #000 1px 1px 5px,
                    #000 -1px -1px 5px;
}
.section1 main .marcoFormulario input, .tipoInput
{
    background: #fffd;
    border: none;
    border-radius: 5px;
    margin: 5px auto 10px;
    padding: 0 10px;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    transition: .2s;
}
.section1 main .marcoFormulario input:hover, .tipoInput:hover
{
    background: #fffd;
}
.privacidad
{
    display: flex;
}
.privacidad p
{
    flex-grow: 1;
    display: block;
    width: 500px;
    text-align: left;
}
.privacidad p a
{
    text-decoration: none;
    color: #5ab;
}
#privacidad
{
    max-width: 20px;
    margin: 0px 20px 10px;
}
.section1 main .marcoFormulario .salvar
{
    background: #145;
    color: #fff;
    font-weight: bold;
    height: 3em;
    transition: .2s;
}
.section1 main .marcoFormulario .salvar:hover
{
    background: #256;
    text-shadow: #aaa 1px 1px 10px;
}
/* ---------------------------- */

/* -----------Section 2----------------- */
.section2 main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    opacity: 0;
    animation: aparecer ease forwards 2s 2s;
}
.section2 main .contenidoInformacion
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    background: #fffa;
    width: 100%;
    min-height: 50vh;
    padding: 50px 150px;

}
.section2 main .contenidoInformacion p 
{
    width: 40%;
    flex-grow: 1;
    padding: 10px 30px;
    text-align: justify;
    line-height: 1.5em;
}

.section2 main aside
{
    width: 100%;
    padding-left: 100px;
    min-height: 50vh;
    padding-bottom: 50px;
    flex-grow: 1;
    background: #4198aacc;
    filter: saturate(75%);
}
.section2 main aside ul
{
    min-height: 50vh;
    list-style: none;
}
.section2 main aside ul li
{
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px 50px;
    margin: 20px auto;
    min-height: fit-content;
    max-height: fit-content;
}
.section2 main aside ul li p
{
    min-height: fit-content;
    max-height: fit-content; 
    padding-left: 20px;

}
.section2 main aside ul li img
{
    position: absolute;
    top: 25px;
}

.section2 main aside div:first-child  p
{
    font-size: 40px;
    margin: 10px auto 20px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    text-align: left;

}

/* -------------------clases masterbase --------- */

.mbui-layout-header.layout-header, .MAqNLXLFR4WUfBoXHoCFQ.header-widget
{
	height: 0 !important;
	max-height: 0;
	min-height: 0;
	opacity: 0;
	visibility: hidden;
    display: none !important;
	top: 0;
}
.mbui-layout-header.layout-header
{
	height: 0 !important;
	top: -0;
	opacity: 0;
	visibility: hidden;
    display: none !important;


}
.MAqNLXLFR4WUfBoXHoCFQ.header-widget
{
	min-height: 0px;
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
    display: none !important;


}
.MAqNLXLFR4WUfBoXHoCFQ, .header-widget
{
    height: 0 !important;
    width: 0 !important;
	min-height: 0 !important;
	max-height: 0 !important;
	opacity: 0 !important;
	visibility: hidden !important;
    display: none !important;
	top: 0 !important;
}



/* ----------------animaciones-------------- */
.tituloCo
{
    position: absolute;
    top: 20vh;
    left: 0;
    opacity: 0;
    display: block;
    width: 100%;
    animation: enfasis ease forwards 5s 2s;
    margin: 0;
    padding: 0;
}

@keyframes enfasis
{
    0%
    {
    }
    20%
    {
        top: 14vh;
        opacity: 1;
        visibility: visible;
    }
    30%
    {
        top: 15vh;
        opacity: 1;
        visibility: visible;
    }

    70%
    {
        top: 15vh;
        opacity: 1;
        visibility: visible;
    }
    80%
    {
        top: 14vh;
        opacity: 1;
        visibility: visible;
    }
    100%
    {
        top: 20vh;
        opacity: 0;
        display: none;
        visibility: collapse;
        max-height: 0;
    }
}
@keyframes amortiguar
{
    0%
    {
        top: 40vh;
    }
    100%
    {
        top: 20vh;
    }
}
@keyframes aparecer
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}


/* ----------------------------------------- */
/* ----------------Responsive Desing-------------- */

/* para pantallas mas pequeñas usar max */
/* para pantallas mas grandes usar min */
/* los max sobrescriben max - entre menor el valor, debe ir más abajo en cascada */
/* los min sobrescriben min - entre mayor el valor, debe ir más abajo en cascada 
outline: red solid 3px;

*/

@media only screen and (max-width: 1060px) {
    section
    {
        min-height: fit-content;
        max-height: fit-content;

    }
    .section1 header
    {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        background: #fff;
        min-height: fit-content;
        max-height: fit-content;
    }
    .section1 header::selection
    {
        display: none;
    }

    .logo
    {
        max-width: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        /* border: red solid 3px; */   
    }
    .section1 header .logo img
    {
        width: 80%;
        margin: 0 auto;
    }

    .section1 main
    {
        display: block;
        background-size: cover;    
        min-height: fit-content;
        max-height: fit-content;

    }
    .section1 main .contenidoTitulo
    {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 18vh;
        max-height: fit-content;
        padding: 10px;
        font-size: 40px;
    }
    @keyframes enfasis
    {
        0%
        {
        }
        20%
        {
            top: 6vh;
            opacity: 1;
            visibility: visible;
        }
        30%
        {
            top: 7vh;
            opacity: 1;
            visibility: visible;
        }
    
        70%
        {
            top: 7vh;
            opacity: 1;
            visibility: visible;
        }
        80%
        {
            top: 6vh;
            opacity: 1;
            visibility: visible;
        }
        100%
        {
            top: 20vh;
            opacity: 0;
            display: none;
            visibility: collapse;
            max-height: 0;
        }
    }
    .section1 main .marcoFormulario
    {
        position: relative;
        /* bottom: calc( 2vh + 10px); */
        display: block;
        align-items: center;
        justify-content: space-evenly;
        min-height: fit-content;
        max-height: fit-content;
        width: 80%;
        border-radius: 5px;
        margin: 10px auto 20px;
        transition: .5s;
    }
 
    .section1 main .marcoFormulario form
    {
        max-width: 80%;
        margin: 10px auto;
    
    }
    
    .section1 main .marcoFormulario input, .tipoInput
    {
        background: #fffd;
        border: 1px solid #0008;

    }

    #privacidad
    {
        max-width: 20px;
        margin: 0px 15px 10px;
    }
    /* ---------------------------- */
    
    /* -----------Section 2----------------- */

    .section2
    {
        position: relative;
        min-height: fit-content;
        max-height: fit-content;
    }
    .section2 main
    {
        position: relative;
        min-height: fit-content;
        max-height: fit-content;
    }
    .section2 main .contenidoInformacion
    {
        position: relative;
        top: 0;
        display: block;
        flex-wrap: wrap;
        background: #fffa;
        width: 100%;
        min-height: fit-content;
        max-height: fit-content;
        flex-grow: 1;
        padding: 20px 1px;
    
    }
    .section2 main .contenidoInformacion p 
    {
        width: 100%;
        padding: 20px 20px;
        text-align: justify;
        line-height: 1.5em;
    }

    .section2 main aside ul li img
{
    top: 5px;
}
    .section2 main aside
    {
        position: relative;
        min-height: fit-content;
        max-height: fit-content;
    }
    .section2 main aside ul
    {
        min-height: fit-content;
        max-height: fit-content;
        list-style: none;
    }
    .section2 main aside ul img
    {
        width: 15px;
    }

    .section2 main aside ul li
    {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: 1px;
        width: 100%;
        padding: 5px 20px;
        height: fit-content;
        max-height: 6vh;
    }
    .section2 main aside div:first-child  p
    {
        font-size: 25px;
        margin: 15px auto 10px;
        font-weight: bold;
        color: #fff;
        text-align: left;
    
    }
    @keyframes amortiguar
{
    0%
    {
        top: 40vh;
    }
    100%
    {
        top: 5vh;
    }
}

}

@media only screen and (max-width: 810px) {
    .section1 main .contenidoTitulo
    {
        font-size: 25px;
        top: 0vh;
        padding: 10px;
    }


    @keyframes enfasis
    {
        0%
        {
        }
        20%
        {
            top: 8vh;
            opacity: 1;
            visibility: visible;
        }
        30%
        {
            top: 9vh;
            opacity: 1;
            visibility: visible;
        }
    
        70%
        {
            top: 9vh;
            opacity: 1;
            visibility: visible;
        }
        80%
        {
            top: 8vh;
            opacity: 1;
            visibility: visible;
        }
        100%
        {
            top: 20vh;
            opacity: 0;
            display: none;
            visibility: collapse;
            max-height: 0;
        }
    }
    
    .section1 main .marcoFormulario
    {
        width: 90%;
        min-width: 90%;
        min-height: fit-content;
        max-height: fit-content;    
        margin: 5px auto;
        overflow: hidden;
        background: #0005;
        border: 2px #0001 solid;
        color: #fff;
        border-radius: 5px;
        transition: 3s;
    }

    .section1 main .marcoFormulario form
    {
        margin: 10px auto;
        max-width: 95%;
        display: flex;
        flex-wrap: wrap;

    }

    .section1 main .marcoFormulario form div
    {
        width: 100%;
        flex-grow: 1;
    }
    #privacidad
    {
        max-width: 20px;
        margin: 0px 10px 10px;
    }

    .section2 main aside
    {
    padding: 5px;    
    }
    .section2 main aside ul li
    {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: 1px;
        width: 100%;
        padding: 0 10px;
        max-height: fit-content;
        text-align: left;
    }
    .section2 main aside ul img
    {
        width: 10px;
    }

    .section2 main aside div:first-child  p
    {
        font-size: 25px;
        margin: 15px auto 50px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding: 5px;
    
    }
    

    @keyframes amortiguar
{
    0%
    {
        top: 40vh;
    }
    100%
    {
        top: 5vh;
    }
}
}