*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    filter: saturate(1.05);

}
*::selection
{
    color: #456789;
    background: #eff;
    text-shadow: none;
}
#hola
{
    z-index: 1000;
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: .3;

}
.cover
{
    opacity: 0 ;
    visibility: collapse ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    min-width: 0vw;
    max-height: 0vh;
    max-width: 0vw;
}
.cover.nolanding
{
    opacity: 1 ;
    visibility: visible ;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
.cover.nolanding p
{
    text-align: center;
    font-size: 50px;
}
#control.nolanding
{
    opacity: 0 ;
    visibility: collapse ;
    min-height: 0vh;
    min-width: 0vw;
    max-height: 0vh;
    max-width: 0vw;
}
#control 
{
    z-index: 0;
    position: absolute;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
    min-width: 0vw;
    max-width: 100%;
    min-height: 100vh;
    max-height: auto;
    /* es es la imagen de fondo general, las lineas celestes */
    background: url("../../Files/images/web2.jpeg") no-repeat center center fixed;
    /* background: url(" https://cdn2.hubspot.net/hubfs/37780/bg-footers5.jpg") no-repeat center center fixed; */
    background-size: cover;
    
}

section
{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; 
    overflow: hidden;
}


/* -----------Section 1----------------- */
.section1 header
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    min-height: 13vh;
    max-height: 13vh;

}
.logo
{
    max-width: 350px;
    margin: 20px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section1 header .logo img
{
    width: 75%;
    margin: 0 auto;
}
.section1 main
{
    background: url("../../Files/images/web3.jpeg") no-repeat center center;
    /* background: url("../../Files/images/web1.jpeg") no-repeat center center; */
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    min-height: 87vh;
    max-height: 87vh;
    filter: opacity(1);
}
.section1 main .contenidoTitulo
{
    /* outline: red solid 1px; */
    position: absolute;
    top: calc( 40vh - 200px );
    left: 4vw;
    width: 500px;
    color: #fff;
    text-align: center;
    line-height: 1.1em;
    text-shadow: #000 1px 1px 10px;
    font-size: 40px;
}
.section1 main .marcoFormulario
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
    min-width: 400px;
    min-height: 75vh;
    max-height: 100vh;    
    margin: auto 8vw auto auto;
    overflow: hidden;
    background: #fff4;
    border: 2px #fff4 solid;
    border-radius: 10px;
}
.section1 main .marcoFormulario form
{
    width: 90%;
    display: flex;
    flex-wrap: wrap;

}

.section1 main .marcoFormulario div
{
    width: 100%;
    flex-grow: 1;
}

.section1 main .marcoFormulario p
{
    text-shadow: #fff 1px 1px 5px;
    color: #555;
}
.section1 main .marcoFormulario input
{
    background: #fff7;
    border: none;
    border-radius: 5px;
    margin: 5px auto 10px;
    padding: 0 10px;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
}

/* ---------------------------- */

/* -----------Section 2----------------- */
.section2 main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    /* max-height: 100vh; */
}
.section2 main .contenidoInformacion
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    background: #fffa;
    width: 100%;
    height: 50vh;
    padding: 50px 150px;

}
.section2 main .contenidoInformacion p 
{
    width: 40%;
    flex-grow: 1;
    padding: 10px 30px;
    text-align: justify;
    line-height: 1.5em;
}

.section2 main aside
{
    width: 100%;
    padding-left: 100px;
    min-height: 50vh;
    padding-bottom: 50px;
    flex-grow: 1;
    background: #4198aacc;
    filter: saturate(75%);
}
.section2 main aside ul
{
    min-height: 50vh;
    list-style: none;
}
.section2 main aside ul li
{
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px 50px;
    max-height: 5vh;
}
.section2 main aside div:first-child  p
{
    font-size: 40px;
    margin: 10px auto 20px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    text-align: left;

}

/* ---------------------------- */





/* ----------------Responsive Desing-------------- */

/* para pantallas mas pequeñas usar max */
/* para pantallas mas grandes usar min */
/* los max sobrescriben max - entre menor el valor, debe ir más abajo en cascada */
/* los min sobrescriben min - entre mayor el valor, debe ir más abajo en cascada 
outline: red solid 3px;

*/

@media only screen and (max-width: 1150px) {
    section
    {
        min-height: fit-content;
        max-height: 250vh;
        width: 100vw;

    }
    .section1 header
    {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        background: #fff;
        min-height: 10vh;
        max-height: 10vh;
    }
    .logo
    {
        max-width: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        /* border: red solid 3px; */   
    }
    .section1 header .logo img
    {
        width: 80%;
        margin: 0 auto;
    }

    .section1 main
    {
        display: block;
        background-size: cover;    
        min-height: fit-content;
        max-height: 120vh;

    }
    .section1 main .contenidoTitulo
    {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 18vh;
        max-height: 20vh;
        padding: 50px;
        font-size: 40px;
    }
    .section1 main .marcoFormulario
    {
        position: relative;
        /* bottom: calc( 2vh + 10px); */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-height: fit-content;
        max-height: 100vh;
        width: 100%;
        border-radius: 0;
        min-width: 90%;
        margin: 50px auto 30px;
        padding: 20px 1px 10px;
        background: #fff7;
        transition: .5s;
    }
    .section1 main .marcoFormulario:hover
    {
        background: #fffa;
    }
    .section1 main .marcoFormulario form
    {
        width: 95%;
        margin: 10px auto;
    
    }
    
    .section1 main .marcoFormulario input
    {
        background: #fffd;
        border: 1px solid #0008;

    }
    
    /* ---------------------------- */
    
    /* -----------Section 2----------------- */

    .section2
    {
        position: relative;
        min-height: fit-content;
        max-height: 250vh;
    }
    .section2 main
    {
        position: relative;
        min-height: fit-content;
        max-height: 250vh;
    }
    .section2 main .contenidoInformacion
    {
        position: relative;
        top: 0;
        display: block;
        flex-wrap: wrap;
        background: #fffa;
        width: 100%;
        height: fit-content;
        flex-grow: 1;
        max-height: 180vh;
        overflow-y: scroll;
        padding: 20px 1px;
    
    }
    .section2 main .contenidoInformacion p 
    {
        width: 100%;
        padding: 20px 20px;
        text-align: justify;
        line-height: 1.5em;
    }

    .section2 main aside
    {
        position: relative;
        min-height: 70vh;
        max-height: 100vh;
    }
    .section2 main aside ul
    {
        min-height: fit-content;
        max-height: 70vh;
        list-style: none;
    }
    .section2 main aside ul img
    {
        width: 15px;
    }

    .section2 main aside ul li
    {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: 1px;
        width: 100%;
        padding: 5px 20px;
        height: 6vh;
        max-height: 6vh;
    }
    .section2 main aside div:first-child  p
    {
        font-size: 25px;
        margin: 15px auto 10px;
        font-weight: bold;
        color: #fff;
        text-align: left;
    
    }

}

@media only screen and (max-width: 810px) {
    .section1 main .contenidoTitulo
    {
        font-size: 25px;
        top: 5vh;
        padding: 20px;
    }

    .section2 main aside
    {
    padding: 5px;    
    }
    .section2 main aside ul li
    {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: 1px;
        width: 100%;
        padding: 0 10px;
        height: 8vh;
        max-height: 8vh;
        text-align: left;
    }
    .section2 main aside ul img
    {
        width: 10px;
    }

    .section2 main aside div:first-child  p
    {
        font-size: 25px;
        margin: 15px auto 50px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding: 5px;
    
    }

}