*
{
    box-sizing: border-box !important;
	font-size: 16px;
	font-family: sans-serif, Tahoma, Verdana ;
	border: none;

}
*::selection
{
	display: none;
}
body {
	background: #f0f2f5;
	color: #212529;
}
h1, h2, h3, h4, h5, h6 {
	color: #243b55;
}
a {
	color: #17a2b8;
	text-decoration: none;
}
ul {
	list-style: none;
}
ul li {
	padding: 3px;
}
.table-wrap {
	background: #fff;
	padding: 20px;
	margin: 10px 0;
}
.table-wrap2 {
	border: 1px solid #dee2e6;
	padding: 10px 20px;
	margin: 10px 0;
}
.table-wrap3 {
	border-top: 1px solid #dee2e6;
	padding: 5px 0px;
	margin: 25px 0 0 0;
}
#my-chart.column {
	height: 400px;
	max-width: 700px;
	margin: 0 auto;
 --labels-size: 4rem;
 --heading-size: 3rem;
}
.data {
	font-weight: bold;
	padding: 5px;
}
#my-chart caption {
	color: #000;
}
.hide {
	display: none;
}
.ratings {
	text-align: center;
}
.stars i {
	color: #17a2b8;
	font-size: 20px;
	filter: hue-rotate(30deg);
}
.rating-text {
	margin-top: 10px;
}
.star-rating {
	line-height: 24px;
}
.star-rating .fa-star {
	color: #f9c908;
}
.btn-primary {
	background: #243b55;
	border-color: #1a2b3e;
}
.btn-outline-primary {
	color: #243b55;
	border-color: #1a2b3e;
}
.tag {
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
	color: #333;
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	margin: 3px;
}
/* ----------------------------- Estilo adicional*/

#control
{
	position: absolute;
    width: 100vw;
    display: flex;
}

.cFlex
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cFlexA
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1px;
    flex-grow: 1;
    min-width: 100%;
    padding: 0;
    background: linear-gradient(to bottom, transparent 50px, #fff 20px);
    border: 0;
    box-shadow: 2px 2px 20px #aaa;

}

.container
{
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    min-width: 100vw;
}

section
{
	display: flex;
	flex-direction: column;
	min-width: 100%;
}
section>div
{
	flex-grow: 1;
}

/* --------------------------Nav info izq */
.section1
{
	position: absolute;
	order: 55;
	z-index: 100;
	flex-wrap: wrap;
    flex-grow: 1;
	min-width: 96vw;
	max-width: 96vw;
	min-height: 30vh;
	max-height: 70vh;
	overflow: hidden;
	top: 8vh;
	box-shadow: 2px 2px 20px #142743;
	opacity: 100%;
	visibility: visible;
	transition: opacity .5s, visibility .6s;
}

.cNombretool
{
	font-weight: bold;
	text-align: justify;
	font-size: 160%;
	line-height: 1em;
    margin-top: 30px;
	margin-bottom: 10px;

}
.cNombretoolLine
{
	content: "";
	position: absolute;
	width: 90%;
	left: 5%;
	height: 1px;
	background: #17a2b877;
}
.cNav
{
	display: flex;
    width	: 20%;
	flex-grow: 1;
    margin-top: 20px;
	flex-wrap: wrap;
}

/* esto es creator doctype y version */
.boxInfo
{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 10px 0;
}

.cNav p
{
	margin: 0 3vw;
}

.cNav i
{
	position: absolute;
	font-size: 20px !important;
	margin-top: 10px;
}

.cNav div
{
	display: flex;
    min-width: 100%;
	flex-grow: 1;	
	padding: 0;
	font-weight: bold;
}
.cNav>p:last-child
{
	margin-bottom: 5px;
	color: #ccc;
}

/* Esto es el fondo de la parte azul */
.cNavInfo
{
	display: block;
	flex-wrap: wrap;
    background-color: #142743;
    color: white;
    flex-grow: 1;
	min-height: 25vh;
    padding: 18px 10px;
	width: 100%;
}

/* Esto es la parte blanca justo abajo */
.cDesc
{
	/* outline: olivedrab solid 4px; */
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 30vh;
	max-height: 40vh;
}

.cNavImg2
{
	display: flex;
	justify-self: center;
	align-self: flex-start;
	justify-content: center;
	align-items: center;
	width: 10%;
	min-height: 30vh;
	flex-grow: 1;


}
.imgbase
{
	margin: 10px 0;
	opacity: 0;
	width: 1px;


}
.imgup
{
	position: absolute;
	z-index: 1;
	margin: 10px 0;
	max-height: 20vh;
	max-width: 10vw;


}
.imgshadow
{
	position: absolute;
	z-index: 0;
	margin: 10px 0;
	opacity: .4;
	max-height: calc( 20vh + 2px );
	max-width: calc( 10vw + 2px );
	filter: contrast(0);
	filter: brightness(0);
}

/* contendedor descripcion */
.cont_description
{
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	flex-direction: column;
	width: 20%;
	min-height: 50%;
	margin: 20px 0 0 0;
	flex-grow: 5;
	text-align: justify;
	max-height: 50vh;
	overflow-y: auto;

}
#pDescripcion1
{
	width: 1%;
	flex-grow: 1;
	font-weight: bold;


}

#pDescripcion2
{
	text-align: justify;
	font-size: 105%;

}
/* -------------------------- descripcion section 2 */
.section2
{
    order: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    flex-grow: 3;
    width: 1px;
	top: -64px;
	overflow: hidden;
	transition: .5s;
}

#div_iframe
{
	min-height: 100vh;
	max-height: 100vh;
	width: 80vw;
	margin: auto;
	padding: 1px auto !important;
	border: none;
	box-shadow: 2px 2px 20px #aaa;
	flex-grow: 3;
	transition: .5s;
}

.fullcover
{
	position: absolute;
	z-index: 80;
	width: 100vw;
	height: calc( 100vh - 64px );
	background: #f0f2f5dd;
	opacity: 100%;
	visibility: visible;
	margin: 0;
	top: 0 ;
	left: 0 ;
	transition: 1s;
}
::-webkit-scrollbar {
	display: none;
}
.fullcover.off
{
	visibility: hidden;
	display: none;
	opacity: 0%;
	transition: .2s;
}
/* -----------------btn------------------------- */

.btn_style
{
	position: absolute;
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	height: 60px;
	width: 120px;
	bottom: 50px;
	text-decoration: none;
	transition: .5s;
}
.btn_style:hover
{
	color: #fff;
	background: #53d3dd;
	text-shadow: 1px 1px 5px black;
}
.btn_back
{
	color: #fff;
	left: calc( 50% - 160px );
	background: #0b8a9e;
}
.btn_cNavImg1
{
	background: #a00;
	left: calc( 50% + 40px );
}
.btn_cNavImg1:hover
{
	background: #f44;
}
.btn_cNavImg1::before
{
	content: "Ver PDF";
}
/* -------------------clases off -------------------------- */
.section1.off
{
	top: 50;
	opacity: 0;
	visibility: collapse;
}
.section2.off
{
	overflow: visible;
	top: 0;
}
.btn_cNavImg1.off
{
	left: calc( 100% - 120px);
}

.btn_cNavImg1.off::before
{
	content: "Volver";
}
.btn_back.off
{
	left: 0;
}

/* ------------clases mb ------------------------- */
.mbui-layout-header.layout-header, .MAqNLXLFR4WUfBoXHoCFQ.header-widget
{
	height: 64px !important;
	max-height: 64px;
	min-height: 64px;
	opacity: 100%;
	top: 0;
	transition: .3s;
}
.mbui-layout-header.layout-header.off
{
	transition: .5s;
	height: 0 !important;
	opacity: 0;
	top: -5vh;
	visibility: hidden;
}
.MAqNLXLFR4WUfBoXHoCFQ.header-widget.off
{
	min-height: 0px;
	max-height: 0px;
	opacity: 0;
	visibility: collapse;
}


/* ----------------Responsive Desing-------------- */

/* para pantallas mas pequeñas usar max */
/* para pantallas mas grandes usar min */
/* los max sobrescriben max - entre menor el valor, debe ir más abajo en cascada */
/* los min sobrescriben min - entre mayor el valor, debe ir más abajo en cascada */


@media only screen and (max-width: 1150px) {

}
@media only screen and (max-width: 800px) {

}
@media only screen and (min-width: 1700px) {

}
@media only screen and (min-width: 2200px) {

}
