*
{
    box-sizing: border-box !important;
	font-size: 16px;

}
/* *::selection
{
	display: none;
} */


body {
	background: #f0f2f5;
	color: #212529;
}
h1, h2, h3, h4, h5, h6 {
	color: #243b55;
}
a {
	color: #17a2b8;
	text-decoration: none;
}

ul {
	list-style: none;
}
ul li {
	padding: 3px;
}
.table-wrap {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #dee2e6;
	padding: 20px;
	margin: 10px 0;
}
.table-wrap2 {
	border-radius: 10px;
	border: 1px solid #dee2e6;
	padding: 10px 20px;
	margin: 10px 0;
}
.table-wrap3 {
	border-top: 1px solid #dee2e6;
	padding: 5px 0px;
	margin: 25px 0 0 0;
}
#my-chart.column {
	height: 400px;
	max-width: 700px;
	margin: 0 auto;
 --labels-size: 4rem;
 --heading-size: 3rem;
}
.data {
	font-weight: bold;
	padding: 5px;
}
#my-chart caption {
	color: #000;
}
.hide {
	display: none;
}
.ratings {
	text-align: center;
}

.stars i {
	color: #17a2b8;
	font-size: 20px;
	filter: hue-rotate(30deg);
}
.rating-text {
	margin-top: 10px;
}
.star-rating {
	line-height: 24px;
}
.star-rating .fa-star {
	color: #f9c908;
}
.btn-primary {
	background: #243b55;
	border-color: #1a2b3e;
}

.btn-outline-primary {
	color: #243b55;
	border-color: #1a2b3e;
}

.tag {
	background: #F5F5F5;
	border-radius: 5px;
	border: 1px solid #D9D9D9;
	color: #333;
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	margin: 3px;
}

/* ----------------------------- Estilo adicional*/


#control
{
	position: absolute;
    width: 90vw;
    display: flex;
	left: 50px;
}

.cFlex
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.cFlexA
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1px;
    flex-grow: 1;
    min-width: 100%;
    padding: 0;
    background: linear-gradient(to bottom, transparent 50px, #fff 20px);
    border: 0;
	border-radius: 5px;
    box-shadow: 2px 2px 20px #aaa;

}

.container
{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

/* --------------------------Nav info izq */
.section2
{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 50;
    flex-grow: 1;
    width: 1px;

}

.cNavImg
{
	display: flex;
	justify-content: center;
	align-items: center;
    min-width: 10%;
    margin: 10px auto;
	flex-grow: 5;

}
.cNavImg img
{
	max-width: 100%;
	border-radius: 5px;
	margin: 10px 0;
	width: 50%;
}

.cNavImg i
{
	font-size: 200px;
	position: absolute;
	top: 15%;
	opacity: 5%;
}

.cNav
{
	display: flex;
    width	: 100%;
	flex-grow: 1;
    margin-top: 5px;
	flex-wrap: wrap;
}
.cNavCreator
{
	display: flex;
	flex-direction: column;
    min-width	: 100%;
	flex-grow: 1;	
	padding: 0;
	font-weight: bold;
	margin: 0 0 50px;
}
.cNavCreator div
{
	display: flex;
}
.cNavCreator p, .cNav p
{
	margin: 0;
}
.cNavCreator p:nth-child(even)
{
	margin: 0 0 0 10px;
	color: #ccc;
}
.cNav p
{
	margin: 0 3vw;
}

.cNav i
{
	position: absolute;
	font-size: 20px !important;
	margin-top: 10px;
}

.cNav div
{
	display: flex;
    min-width	: 100%;
	flex-grow: 1;	
	padding: 0;
	font-weight: bold;
}
.cNav>p:last-child
{
	margin-bottom: 5px;
	color: #ccc;
}

.cNavInfo
{
    background-color: #142743;
    color: white;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 100%;
    border-radius: 10px 10px 0% 100% / 10px 10px 0% 20%;
    padding: 18px 10px;
	min-height: 70vh;
	padding: 10px 20px;
	font-size: 120%;
}
.cNombretool
{
	font-weight: bold;
	margin-top: 20%;
}

/* -------------------------- descripcion seccion 3 */
.section3
{
    order: 100;
    flex-grow: 3;
    width: 1px;
}

.section3>div
{
    margin: 0 auto 10px;
	width: 100%;
}
.section3>div:last-child
{
    margin-bottom: 0;
}

.section3 i
{
	position: absolute;
	color: #243b55;
	font-size: 5em;
	margin-top: 20px;
	width: 1px;
}
.section3 div:nth-child(3) i, .section3 div:nth-child(2) i
{
	font-size: 4.5em;
}
.cDesc
{
	border: none;
	box-shadow: 2px 2px 20px #aaa;
}
.cDesc div
{
	margin: 0 0 0 7vw;
	padding: 0 50px 0;
}
.cDesc div div
{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	
}
.cDesc div div a
{
	min-width: 70%;
	height: 6vh;
	line-height: 2em;
	margin: 25px 50px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.cDesc div div p
{
	width: 60%;
	flex-grow: 1;
}

.cDesc div div a:hover
{
	background: #17a2b8;
	border-color: #0f8699;
	color: #17a2b8;
	text-decoration: none;
	color: #142743;
}
.cDesc p
{
	text-align: justify;
	margin-top: 30px;
}

section
{
    margin: 10px 10px;
	/* outline: red solid 3px; */
	display: flex;
	flex-direction: column;
}
section div
{
	flex-grow: 1;
}


.section3 span::before
{
	content: "";
	position: absolute;
	width: 40%;
	height: 2px;
	background: linear-gradient(to right,#0f8699, transparent);
}

.section3 h6
{
	color: #142743;
}

/* -----------------btn_back------------------------- */

.btn_style
{
	position: fixed;
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	height: 60px;
	left: -3px;
	text-decoration: none;
	width: 85px;
	border-right: solid 2px #0007;
	border-radius: 0 15px 15px 25px / 0 15px 15px 45px ;
	text-shadow: #000 0px 0px 1px;
	transition: .1s;
	box-shadow: #000 2px 2px 2px;
}


.btn_style:hover
{
	color: #fff;
	border-right: solid 2px #0009;
	text-shadow: #142743 -1px 1px 5px,
					#14274377 -3px 3px 5px;
	box-shadow: #142743 2px 2px 2px;
	background: #63e3ff;

}
.btn_back
{
	top: 20vh;
	background: #0b8a9e;
}

.btn_mb
{
	top: 30vh;
	background: #142743;
}

/* ----------------Responsive Desing-------------- */

/* para pantallas mas pequeñas usar max */
/* para pantallas mas grandes usar min */
/* los max sobrescriben max - entre menor el valor, debe ir más abajo en cascada */
/* los min sobrescriben min - entre mayor el valor, debe ir más abajo en cascada */


@media only screen and (max-width: 1150px) {

  	*
	{
		font-size: 12px;
	}
	#control
	{
		width: 90vw;
	}
	.btn_style
	{
		width: 60px;
		height: 40px;
	}
	.cNavImg i
	{
		font-size: 150px;
		top: 15%;
		opacity: 5%;
	}
}
@media only screen and (max-width: 800px) {
	*
	{
		font-size: 10px;
	}
	#control
	{
		width: 90vw;
	}
	.btn_style
	{
		width: 50px;
		height: 25px;
	}
	.cNavImg i
	{
		font-size: 100px;
		top: 15%;
		opacity: 5%;
	}

}
@media only screen and (min-width: 1700px) {

	*
	{
		font-size: 18px;

	}
	#control
	{
		width: 90vw;
		left: 5vw;
	}

	.cNavImg i
	{
		font-size: 300px;
		top: 15%;
		opacity: 5%;
	}
	.btn_style
	{
		width: 100px;
		height: 90px;
	}
  }
@media only screen and (min-width: 2200px) {

	*
	{
		font-size: 25px;


	}
	#control
	{
		width: 90vw;
		left: 5vw;
	}

	.cNavImg i
	{
		font-size: 500px;
		top: 15%;
		opacity: 5%;
	}
	.btn_style
	{
		width: 150px;
		height: 130px;
	}
  }
